@keyframes fadeUp {
  from {
    opacity: 0;
    top: 100px
  }

  to {
    opacity: 1;
    top: 0px;
  }
}
@keyframes wipe-down-tall {
  from {
    height: 0px;
  }

  to {
  }
}

@keyframes wipe-left-tall {
  from {
    width: 0px;
  }

  to {
  }
}
@keyframes shadow {
  from {
    box-shadow: 0px 0px 0px #ddd;
  }

  to {
    box-shadow: calc(1vw + 1vh) calc(1vw + 1vh) 0px #ddd;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: auto;
}

html, body {
  -ms-overflow-style: none;
  /* user-select: none; */
  cursor: default;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
 display: none;
}

a {
  color: #000;
}

.ui {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  display: block;
  position: fixed;
  font-size: 2vh;
  display: none;
}

.bottom {
  bottom: calc(1vh + 1vw);
}

.top {
  top: calc(1vh + 1vw);
}

.left {
  left: calc(1vh + 1vw);
}

.right {
  right: calc(1vh + 1vw);
}

.center-x {
  left: 50vw;
  transform: translateX(-50%);
}

.center-y {
  top: 50vh;
  transform: translateY(-50%);
}

.ui.bottom.left {
  padding: 20px;
}

.ui.bottom.left a {
  color: #111;
  margin-right: 20px;
}

.ui.top.left {
  padding: 20px;
}

.ui.bottom.right {
  padding: 20px;
}
.ui.top.right {
  padding: 20px;
}

.ui.center-y {
  padding: 10px;
  font-style: italic;
  font-weight: 500;
}

.nav-button {
  cursor: pointer;
  height: 6vh;
  width: 6vh;
  box-sizing: border-box;
  background-color: #111;
  border-radius: 50%;
}
.return-button {
  transition: width .5s ease, opacity .5s ease;
  transition-delay: .5s;
  cursor: pointer;
  height: 6vh;
  width: 6vh;
  box-sizing: border-box;
  background-color: transparent;
  color: rgba(0,0,0,0);
  margin: 0;
  float: left;
}

.return-arrow-container {
  width: 6vh;
  height: 100%;
}

.arrow-bun {
  transition: top .3s ease, transform .3s ease, transform .3s ease, left .5s ease;
  transform-origin: center;
  position: relative;
  height: 2px;
  background-color: #000;
  width: 30%;
  top: 37%;
  transform: rotate(-45deg);
}

.arrow-bun::after {
    transition: margin .3s ease, transform .3s ease;
    transform-origin: center;
    display: inline-block;
    content: '-';
    position: relative;
    background-color: #000;
    width: 100%;
    height: 2px;
    margin-top: 1vh;
    left: -50%;
    transform: rotate(-90deg);
    bottom: 1px;
}

.return-button.hiding {
  opacity: 0;
  width: 0px;
}

#next-button, #back-button {
  transition: transform .3s ease;
  margin: 1vw;
  height: 9vh;
  font-weight: bolder;
  cursor: pointer;
  transform: scale(1);

}
#next-button:hover, #back-button:hover  {
  transform: scale(1.1);
}

#home img {
  height: 6vh;
  cursor: pointer;
  font-size: 3vh;
}
#home:hover {
  background-color: inherit;
  box-shadow: inherit;
}

#logo {
  cursor: pointer;
  z-index: -1;
  width: auto;
  height: 6vh;
  float: left;
}

.stage {
  opacity: 0;
  transition: box-shadow .3s ease, background-color .3s ease;
  box-sizing: border-box;
  box-shadow: calc(1vw + 1vh) calc(1vw + 1vh) 0px #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: calc(1vw + 1vh) solid #fff; */
  width: 50%;
}

.floor {
  transition: height .5s cubic-bezier(1, 0, 0, 1);
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.collapsed-stage {
  box-shadow: 0px 0px 0px #f0f0f0;
  background-color: #f0f0f0;
}

.stage-square {
  float: left;
  width: 80%;
  padding-top: 50%;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.stage-square.twenty {
  width: 20%;
}

#actor-info {
  position: absolute;
  left: -33%;
  padding-right: 5%;
}

.square-content {
  overflow: hidden;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: right;
  position: absolute;
  top: 0;
}

#stage-foreground {
  pointer-events: none;
  position: absolute;
  top: 0;
  overflow: visible;
  background-repeat: no-repeat;
  background-image: url(../img/truck.png);
  background-size: auto 100%;
  background-position: center;
  /* background-color: #eee; */
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#actor-info h1 {
  right: 0;
  transition: right 1s cubic-bezier(1, 0, 0, 1);
  position: relative;
  font-weight: normal;
  font-size: 10vw;
  font-family: 'Abril Fatface', cursive;
  margin: 0;
}

#actor-info h2 {
  right: 0;
  transition: right 1s cubic-bezier(1, 0, 0, 1);
  position: relative;
  transition-delay: .1s;
  line-height: 4.5vw;
  font-style: italic;
  font-weight: 200;
  font-size: 3.8vw;
  margin-top: -6%;
  margin-right: 10px;
}

.button {
  position: relative;
  display: inline-block;
  right: 0;
  transition: right 1s ease-in-out, background-color 0.3s ease;
  text-align: right;
  width: 20%;
  margin: 0;
  margin-top: 4vh;
  padding: 3vh;
  border: 0px;
  background-color: #111;
  color: #fff;
  font-size: 2vh;
  cursor: pointer;
  border-left: 2px solid #111;
}

hr.guide {
  transition: width .5s ease;
  transition-delay: .5s;
  position: absolute;
  width: 7%;
  left: 85%;
  top: 50%;
  border: 0px solid #111;
  border-bottom: 3px solid #111;
}

.button:hover {}

.burger-bun {
  transition: top .3s ease, transform .3s ease;
  transform-origin: center;
  position: relative;
  height: 1px;
  background-color: #fff;
  width: 40%;
  margin: 0 auto;
  top: 43%;
}

.burger-bun::after {
  transition: margin .3s ease, transform .3s ease;
  transform-origin: center;
  display: inline-block;
  content: '-';
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1px;
  margin-top: 1vh;
}

.burger-bun.active {
  height: 2px;
  transform: rotate(45deg);
  top: 50%;
}

.burger-bun.active::after {
  height: 2px;
  margin-top: 0px;
  transform: rotate(-90deg);
}

/* .return-button.hiding .arrow-bun{
  transform: rotate(-90deg);
}
.return-button.hiding .arrow-bun::after{
  transform: rotate(0deg);
} */

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.menu-bg {
  position: fixed;
  overflow: hidden;
  transition: opacity .3s ease;
  z-index: 1;
  width: 100vw;
  background-color: #f5f5f5;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.expanded {
  opacity: 1;
  pointer-events: all;
}

.white {
  color: #fff !important;
  fill: #fff !important;
}

.nav-visible {
  z-index: 2;
}

#logo2 {
  margin: 40px;
  height: 7vh;
}

.social-links {
  height: 2.5vh;
}

.nav-content {
  text-align: center;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-item {
  cursor: pointer;
  box-shadow: 00px 00px 0px #eee;
  transition: box-shadow .3s ease, background-color .3s ease;
  padding: calc(1vh + 1vw);
  display: none;
  overflow: hidden;
  font-size: calc(1.5vw + 1.5vh);
}

.nav-item-container {
  font-style: italic;
  transition: transform 1s ease;
  position: relative;
  animation: fadeUp 1s ease;
  animation-fill-mode: forwards;
  opacity: 0;
}

.nav-item:hover {
  box-shadow: calc(1vw + 1vh) calc(1vw + 1vh) 0px #ddd;
  text-shadow: 0px 0px 20px #fff;
  background-color: #fff;
  transform: skew(0deg);
  background-position: center;
  background-size: contain 100%;
}

#stage-image {
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  transform: translateY(100%);
  display: inline-block;
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.square-content.hero {
  height: calc(100% + calc(1vw + 1vh));
  width: 80%;
}

.hero-button {
  left: 0px;
  transition: left .5s ease;
  font-size: 1vw;
  color: #fff;
  position: absolute;
  padding: 1.5vw;
  background-color: #111;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.hero-button:hover {
  background-color: #fff;
  color: #111;
}

.button-container {
  bottom: 0;
  position: absolute;
  overflow: hidden;
  width: 20%;
  height: 17.5%;
  right: calc((1vw + 1vh) * -1);
}

.article-wrapper {
  display: none;
}

.article-content {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  position: absolute;
  padding-top: 10%;
  width: 55vw;
  min-height: 100%;
  padding-right: 17px;
  box-sizing: content-box;
}
.change-article {

}
.article-footer {
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
  height: 25vh;
}
.article-continue-buttons {
  cursor: pointer;
  text-align: right;
  width: auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article-continue-buttons h3 {
  float: left;
  font-style: italic;
}
img.article-arrow {
  height: 100%;
  float: left;
  margin-left: 2vw;
  height: 3vw;
}
.article-header {
  display: inline-block;
  animation: shadow 2s ease;
  position: relative;
  display: inline-block;
  width: 100%;
  box-shadow: calc(1vw + 1vh) calc(1vw + 1vh) 0px #ddd;
  padding-top: 50%;
}

.article-header-image {
  animation: wipe-left-tall 1s cubic-bezier(1,0,0,1);
  background-position: center;
  background-size: cover;
  background-color: #aae;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 50%;
  height: 100%;
}

.block-logo-cover {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url('../img/pg_white.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-header-block {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.article-header-block.tall {
  animation: wipe-down-tall 1.2s cubic-bezier(1,0,0,1);
  height: calc(125% + (2vw + 2vh));
}

.article-header-block.short {
  animation: wipe-down-tall 1.2s cubic-bezier(1,0,0,1);
  height: calc(100% + (1vw + 1vh));
}

.article-info {
  position: relative;
  padding-top: calc(15% + (1vw + 1vh));
  float: left;
  display: inline-block;
  width: 50%;
}
.article-info.spacer {
  width: 100%;
}

.article-block {
  position: relative;
  float: left;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  padding-top: 50%;
  width: 50%;
}
.article-block.gallery {;
  width: 50%;
  padding-top: 33%;
}

.article-block-double {
  position: relative;
  background-position: center;
  background-size: cover;
  display: inline-block;
  padding-top: 50%;
  width: 100%;
  float: left;
  background-color: #fff;
}

.whitespace {
  background-color: #fff;
  padding-bottom: 4.5vw;
  margin-bottom: 25vh;
}

.article-flex {
  background-color: #fff;
  box-sizing: border-box;
  width: 50%;
  padding: 4.5vw;
  height: auto;
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
}

.article-flex.float-right {
  float: right;
}

.article-flex.float-left {
  float: left;
}

.article-flex-double {
  background-color: #fff;
  box-sizing: border-box;
  padding: 4.5vw;
  padding-bottom: 0px;
  height: auto;
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
}

.block-content {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15%;
}

.article-content h1 {
  position: relative;
  opacity: 0;
  animation: fadeUp .5s ease;
  animation-fill-mode: forwards;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: 2.8vw;
  line-height: 1;
  margin-top: 0;
  animation-delay: .5s;
}
.article-body {
  overflow: hidden;
  display: inline-block;
  float: left;
  opacity: 0;
  position: relative;
  display: none;
  animation: fadeUp 1s ease;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  width: 100%;
}

.article-content h2 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 2.8vw;
  font-weight: normal;
}

.article-content h3 {
  line-height: 1.6vw;
  font-weight: normal;
  margin: 0px;
  font-size: 1.5vw;
}

.article-content h4 {
  margin: 0px;
  font-size: 1vw;
  font-weight: normal;
}

.article-content h5 {
  margin: 0px;
  font-size: 1vw;
  font-weight: lighter;
  font-style: italic;
}

.article-content p {
  font-size: .9vw;
  position: relative;
  opacity: 0;
  animation: fadeUp .5s ease;
  animation-fill-mode: forwards;
  animation-delay: .6s;
}

.article-content p.alt {
  line-height: 1vw;
  font-size: .8vw;
  font-family: 'Roboto', sans-serif;
}
.article-content p.ind {
  line-height: 1vw;
  font-size: .8vw;
  font-family: 'Roboto', sans-serif;
  text-indent: 1vw;
}
.info-block {
  border-left: 2px solid #ddd;
  padding: 1vw;
  opacity: 0;
  position: relative;
  top: 0;
  animation: fadeUp 1s ease;
  animation-fill-mode: forwards;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 33%;
  height: 100%;
}
.info-content {
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.info-block p.alt {
  animation: none;
  opacity: 1;
  color: #999;
  margin-top: 0;
  font-size: .7vw;
}
.info-block h4 {
  color: #555 ;
  margin-top: 0;
  font-size: .7vw;
}
.info-wrapper {
  width: 100%;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 49%;
  top: 58%;
  transform: translate(-50%, -50%);
}
.info-block:nth-child(1){
  animation-delay: .2s;
  border-left: 0px;
}
.info-block:nth-child(2){
  animation-delay: .3s;
}
.info-block:nth-child(3){
  animation-delay: .4s;
}
.filter {
  pointer-events: none;
  background-color: #1C1925;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: lighten;
  z-index: 999;
}
.filter-bg {
  pointer-events: none;
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
img.gallery-left, img.gallery-right {
  display: inline-block;
  border-bottom: calc(1vh + 1vw) solid transparent;
  width: calc(50% - (0.5vh + 0.5vw));
}
img.gallery-left {
  float: left;
  border-right: calc(1vh + 1vw) solid transparent;
}
img.gallery-right {
  float: right;
}
