@import url("https://use.typekit.net/hik4vzr.css");
@keyframes fadeUp {
  from {opacity: 0; transform: translateY(100px);}
    to {opacity: 1; transform: translateY(0px);}
}
@keyframes pop {
  from {opacity: 0; transform: scale(.9);}
    to {opacity: 1; transform: scale(1);}
}
@keyframes fauxScale {
  from {opacity: 1; transform: translateX(-60vw);}
    to {opacity: 1; transform: translateX(0vw);}
}
@keyframes fauxScaleAlt {
  from {opacity: 1; transform: translateX(60vw);}
    to {opacity: 1; transform: translateX(0vw);}
}
@keyframes navigationReveal {
  from {opacity: 0; transform: translateX(2vw);}
    to {opacity: 1; transform: translateX(0vw);}
}
*::-webkit-scrollbar {
  display: none;
}
html, body {
  padding: 0;
  margin: 0;
  background-color: #222E38;
  -ms-overflow-style: none;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  cursor: default;
}
.container {
  width: 100%;
  display: inline-block;
}
.sandbox-container {
  margin: 0 auto;
}
.stoke-sandbox {
  width: 80vw;
  display: none;
}
.navigation {
  width: 20vw;
  height: 100%;
  position: fixed;
  right: 0;
}
.huge-h {
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: transparent;
  font-size: 11.15vw;
  margin: 0;
  margin-top: -1.7vw;
  letter-spacing: -.07em;
  line-height: normal;
  -webkit-text-stroke: .1vw #fff;
}
.grid {
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
}
.grid.experts {
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  grid-template-rows: 6vw 20vw 20vw;
  grid-template-columns: repeat(3, 1fr);
}
.r1 {
  grid-template-rows: repeat(1, 15vw);
}
.r2 {
  grid-template-rows: repeat(2, 15vw);
}
.r3 {
  grid-template-rows: repeat(3, 15vw);
}
.r4 {
  grid-template-rows: repeat(4, 15vw);
}
.c4 {
  grid-template-columns: repeat(4, 1fr);
}
.c3 {
  grid-template-columns: repeat(3, 1fr);
}
.title-wrapper {
  overflow: hidden;
}
.circle {
  border: 1vw solid #FF4848;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  position: relative;
  left: -5vw;
  top: -5vw;
  animation: pop 1s ease;
}
.header-block {
  opacity: 0;
  animation-fill-mode: forwards;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5vw;
  line-height: 3.03vw;
}
.body-block {
  opacity: 0;
  font-size: 1.3vw;
  font-family: minion-pro, serif;
  line-height: 1.98vw;
}
.black {
  background-color: #000;
}
.white {
  background-color: #fff;
}
.relief {
  margin-top: 10vw;
  margin-bottom: 10vw;
}
h1 {
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5vw;
  line-height: 3.03vw;
  margin: 0;
}
h2 {
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3vw;
  margin: 0;
  line-height: 3vw;
  margin-top: 10vw;
  color: transparent;
  -webkit-text-stroke: .05vw #fff;
  transition: color .5s ease;
}
p {
  margin: 0;
  font-size: 1.3vw;
  font-family: minion-pro, serif;
  line-height: 1.98vw;
}
.stoke-logo {
  position: fixed;
  top: 2vw;
  left: 2vw;
  width: 6vw;
  height: 2vw;
  color: #fff;
  background-color: #fff;
  mask: url(data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201716.9%20649.64%22%3E%3Ctitle%3Estoke%3C%2Ftitle%3E%3Cpolygon%20points%3D%221110.49%20495.51%20956.69%20649.64%201263.69%20649.64%201110.49%20495.51%22%2F%3E%3Cpath%20d%3D%22M564.93%2C540.31H453.65c-86%2C0-113.07-53.67-113.07-136.67v-260l81-80.47V204.61l35.84-35.85H564.54l-71.66%2C71.9H421.57v169c0%2C36%2C18.12%2C54%2C44.93%2C54h22.33Z%22%2F%3E%3Cpolygon%20points%3D%221369.69%20538.64%201256.69%20539.29%201109.56%20391.77%20995.67%20505.64%20995.67%2078.02%201075.16%200%201075.16%20313.2%201219.69%20168.64%201332.69%20168.76%201141.11%20360.58%201190.95%20360.38%201369.69%20538.64%22%2F%3E%3Cpath%20d%3D%22M292%2C429.6c0%2C21.38-4.66%2C40-13.72%2C55.53A115.91%2C115.91%2C0%2C0%2C1%2C243%2C522.54a145.25%2C145.25%2C0%2C0%2C1-48.54%2C20.73%2C237.64%2C237.64%2C0%2C0%2C1-54%2C6.26c-30.42%2C0-57.6-4.83-80.64-14.21C37.54%2C526.32%2C17.47%2C510%2C0%2C487l56.44-56.7L58%2C431.81a205%2C205%2C0%2C0%2C0%2C36%2C28.81c12.43%2C7.95%2C28.09%2C11.86%2C46.47%2C11.86A123.69%2C123.69%2C0%2C0%2C0%2C165.18%2C470a70.93%2C70.93%2C0%2C0%2C0%2C21.62-7.69%2C44.48%2C44.48%2C0%2C0%2C0%2C14.5-12.65%2C26.34%2C26.34%2C0%2C0%2C0%2C5.18-16.29c0-8.48-2.46-15.26-7.64-20.6a62.3%2C62.3%2C0%2C0%2C0-20.59-14.08%2C153.29%2C153.29%2C0%2C0%2C0-26.79-8.86c-9.84-2.22-18.38-4.18-25.89-5.61-6.34-1.56-12.56-3.26-18.64-5-1.27-.36-2.53-.72-3.78-1.1-6.92-2-13.57-4.13-20-6.33a133.65%2C133.65%2C0%2C0%2C1-36.51-19.3%2C89.59%2C89.59%2C0%2C0%2C1-26-31.15C14%2C308.88%2C10.74%2C293.24%2C10.74%2C275c0-19.82%2C4.15-37.41%2C12.56-52.27A111.82%2C111.82%2C0%2C0%2C1%2C56.18%2C186%2C148.73%2C148.73%2C0%2C0%2C1%2C102%2C164.45a189.86%2C189.86%2C0%2C0%2C1%2C123.24%2C7.17%2C113.25%2C113.25%2C0%2C0%2C1%2C47.86%2C36.6l-57.23%2C57.23a103.07%2C103.07%2C0%2C0%2C0-26.1-21.75c-10.88-6.12-24.34-9.38-40.26-9.38-14.89%2C0-28%2C3.26-38.71%2C9.38-10%2C5.74-14.63%2C13.56-14.63%2C24.51%2C0%2C8.87%2C2.72%2C15.77%2C8.29%2C21.12a71.42%2C71.42%2C0%2C0%2C0%2C22.26%2C14.73%2C131.9%2C131.9%2C0%2C0%2C0%2C28.48%2C8.73c3.9.77%2C7.66%2C1.47%2C11.18%2C2.15l3.71.72c4.53.91%2C8.67%2C1.7%2C12.43%2C2.48a322.34%2C322.34%2C0%2C0%2C1%2C42.33%2C13.3%2C119%2C119%2C0%2C0%2C1%2C35.08%2C20.85%2C93.59%2C93.59%2C0%2C0%2C1%2C23.56%2C31.94C289.2%2C396.75%2C292%2C412%2C292%2C429.6Z%22%2F%3E%3Cpath%20d%3D%22M892.68%2C215a194.82%2C194.82%2C0%2C0%2C0-138.16-57.22c-107.9%2C0-195.37%2C87.47-195.37%2C195.37A195.36%2C195.36%2C0%2C0%2C0%2C754.52%2C548.53c107.91%2C0%2C195.38-87.47%2C195.38-195.37A194.8%2C194.8%2C0%2C0%2C0%2C892.68%2C215ZM754.52%2C468.65A115.49%2C115.49%2C0%2C1%2C1%2C870%2C353.15%2C115.12%2C115.12%2C0%2C0%2C1%2C754.52%2C468.65Z%22%2F%3E%3Cpath%20d%3D%22M1716.9%2C353.16v.48h-.21v31h-80v-.06h-74.32l-67.25-67.38h104.57L1637%2C353.64c0-.16%2C0-.33%2C0-.49a115.51%2C115.51%2C0%2C1%2C0-26%2C73.05l58.66%2C54.38a195.38%2C195.38%2C0%2C0%2C1-343.49-127.43c0-107.9%2C87.47-195.37%2C195.37-195.37A195.36%2C195.36%2C0%2C0%2C1%2C1716.9%2C353.16Z%22%2F%3E%3Cline%20x1%3D%221219.69%22%20y1%3D%22168.64%22%20x2%3D%221075.16%22%20y2%3D%22313.17%22%20style%3D%22fill%3Anone%22%2F%3E%3C%2Fsvg%3E);
  -webkit-mask: url(data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201716.9%20649.64%22%3E%3Ctitle%3Estoke%3C%2Ftitle%3E%3Cpolygon%20points%3D%221110.49%20495.51%20956.69%20649.64%201263.69%20649.64%201110.49%20495.51%22%2F%3E%3Cpath%20d%3D%22M564.93%2C540.31H453.65c-86%2C0-113.07-53.67-113.07-136.67v-260l81-80.47V204.61l35.84-35.85H564.54l-71.66%2C71.9H421.57v169c0%2C36%2C18.12%2C54%2C44.93%2C54h22.33Z%22%2F%3E%3Cpolygon%20points%3D%221369.69%20538.64%201256.69%20539.29%201109.56%20391.77%20995.67%20505.64%20995.67%2078.02%201075.16%200%201075.16%20313.2%201219.69%20168.64%201332.69%20168.76%201141.11%20360.58%201190.95%20360.38%201369.69%20538.64%22%2F%3E%3Cpath%20d%3D%22M292%2C429.6c0%2C21.38-4.66%2C40-13.72%2C55.53A115.91%2C115.91%2C0%2C0%2C1%2C243%2C522.54a145.25%2C145.25%2C0%2C0%2C1-48.54%2C20.73%2C237.64%2C237.64%2C0%2C0%2C1-54%2C6.26c-30.42%2C0-57.6-4.83-80.64-14.21C37.54%2C526.32%2C17.47%2C510%2C0%2C487l56.44-56.7L58%2C431.81a205%2C205%2C0%2C0%2C0%2C36%2C28.81c12.43%2C7.95%2C28.09%2C11.86%2C46.47%2C11.86A123.69%2C123.69%2C0%2C0%2C0%2C165.18%2C470a70.93%2C70.93%2C0%2C0%2C0%2C21.62-7.69%2C44.48%2C44.48%2C0%2C0%2C0%2C14.5-12.65%2C26.34%2C26.34%2C0%2C0%2C0%2C5.18-16.29c0-8.48-2.46-15.26-7.64-20.6a62.3%2C62.3%2C0%2C0%2C0-20.59-14.08%2C153.29%2C153.29%2C0%2C0%2C0-26.79-8.86c-9.84-2.22-18.38-4.18-25.89-5.61-6.34-1.56-12.56-3.26-18.64-5-1.27-.36-2.53-.72-3.78-1.1-6.92-2-13.57-4.13-20-6.33a133.65%2C133.65%2C0%2C0%2C1-36.51-19.3%2C89.59%2C89.59%2C0%2C0%2C1-26-31.15C14%2C308.88%2C10.74%2C293.24%2C10.74%2C275c0-19.82%2C4.15-37.41%2C12.56-52.27A111.82%2C111.82%2C0%2C0%2C1%2C56.18%2C186%2C148.73%2C148.73%2C0%2C0%2C1%2C102%2C164.45a189.86%2C189.86%2C0%2C0%2C1%2C123.24%2C7.17%2C113.25%2C113.25%2C0%2C0%2C1%2C47.86%2C36.6l-57.23%2C57.23a103.07%2C103.07%2C0%2C0%2C0-26.1-21.75c-10.88-6.12-24.34-9.38-40.26-9.38-14.89%2C0-28%2C3.26-38.71%2C9.38-10%2C5.74-14.63%2C13.56-14.63%2C24.51%2C0%2C8.87%2C2.72%2C15.77%2C8.29%2C21.12a71.42%2C71.42%2C0%2C0%2C0%2C22.26%2C14.73%2C131.9%2C131.9%2C0%2C0%2C0%2C28.48%2C8.73c3.9.77%2C7.66%2C1.47%2C11.18%2C2.15l3.71.72c4.53.91%2C8.67%2C1.7%2C12.43%2C2.48a322.34%2C322.34%2C0%2C0%2C1%2C42.33%2C13.3%2C119%2C119%2C0%2C0%2C1%2C35.08%2C20.85%2C93.59%2C93.59%2C0%2C0%2C1%2C23.56%2C31.94C289.2%2C396.75%2C292%2C412%2C292%2C429.6Z%22%2F%3E%3Cpath%20d%3D%22M892.68%2C215a194.82%2C194.82%2C0%2C0%2C0-138.16-57.22c-107.9%2C0-195.37%2C87.47-195.37%2C195.37A195.36%2C195.36%2C0%2C0%2C0%2C754.52%2C548.53c107.91%2C0%2C195.38-87.47%2C195.38-195.37A194.8%2C194.8%2C0%2C0%2C0%2C892.68%2C215ZM754.52%2C468.65A115.49%2C115.49%2C0%2C1%2C1%2C870%2C353.15%2C115.12%2C115.12%2C0%2C0%2C1%2C754.52%2C468.65Z%22%2F%3E%3Cpath%20d%3D%22M1716.9%2C353.16v.48h-.21v31h-80v-.06h-74.32l-67.25-67.38h104.57L1637%2C353.64c0-.16%2C0-.33%2C0-.49a115.51%2C115.51%2C0%2C1%2C0-26%2C73.05l58.66%2C54.38a195.38%2C195.38%2C0%2C0%2C1-343.49-127.43c0-107.9%2C87.47-195.37%2C195.37-195.37A195.36%2C195.36%2C0%2C0%2C1%2C1716.9%2C353.16Z%22%2F%3E%3Cline%20x1%3D%221219.69%22%20y1%3D%22168.64%22%20x2%3D%221075.16%22%20y2%3D%22313.17%22%20style%3D%22fill%3Anone%22%2F%3E%3C%2Fsvg%3E);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.nav-column {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;
  border-left: .1vw solid #000;
  box-sizing: border-box;
  transform: translateX(20vw);
  animation: navigationReveal 1s ease;
  animation-fill-mode: forwards;
}
.nav-column:nth-of-type(4) {
  background-color: #000;
}
.pill {
  text-align: left;
  margin-top: 2vw;
  margin-left: 2vw;
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1vw;
}
.rocket{
  height: 40vw;
  background-size: 32vw;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -15vw;
}
.beaker {
  height: 30vw;
  background-size: 30vw;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: -13vw;
}
.image {
  opacity: 0;
}
.letter {
  display: inline-block;
  -webkit-text-stroke: .1vw #fff;
  color: transparent;
}
.rectangle {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: fauxScale 2s ease;
  animation-fill-mode: forwards;
}
.rectangle.white {
  background-color: transparent;
  border-right: .1vw solid #fff;
  box-sizing: border-box;
}
.guiding-line {
  opacity: 0;
  height: 1vw;
  width: 100%;
  background-color: #FF4848;
  position: absolute;
  bottom: 0;
  animation: fauxScaleAlt 2s ease;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.expert {
  opacity: 0;
  height: 20vw;
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}
.expert:hover h2 {
  color: #fff;
}
